body {
  background: linear-gradient(to right, #0d6efd, #0a58ca);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.forgot-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

.forgot-box input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 8px;
}

a {
  display: block;
  margin-top: 15px;
  text-decoration: none;
}
