body {
  background: #f5f7fa;
  font-family: Arial;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.register-box h2 {
  text-align: center;
  color: #0d6efd;
  margin-bottom: 20px;
}

.register-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
}

button {
  width: 100%;
  padding: 12px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 8px;
}

p {
  text-align: center;
  margin-top: 15px;
}

